body {
   /*background-color: #fff;*/
}

.slider {
   position: relative;
   width: 934px;
   margin: 50px auto;
}

.slider input[name="switch"] {
   display: none;
}

.switch {
   position: absolute;
   left: calc(25% + 200px);;
   transform: translateX(50%);
   bottom: -40px;
}

.switch label {
   display: inline-block;
   width: 9px;
   height: 9px;
   cursor: pointer;
   margin: 0 1px;
   border-radius: 50%;
   background-color: rgba(33, 32, 31, 0.5);

}
.switch label:hover {
   background-color: rgba(128, 128, 128, 1);
}

#btn1:checked~.switch label[for="btn1"],
#btn2:checked~.switch label[for="btn2"],
#btn3:checked~.switch label[for="btn3"],
#btn4:checked~.switch label[for="btn4"],
#btn5:checked~.switch label[for="btn5"],
#btn6:checked~.switch label[for="btn6"],
#btn7:checked~.switch label[for="btn7"],
#btn8:checked~.switch label[for="btn8"],
#btn9:checked~.switch label[for="btn9"],
#btn10:checked~.switch label[for="btn10"] {
   background-color: #000;
}


.slider-inner {
   overflow: hidden;
}

.slides {
   width: calc(934px*10);
   transition: all 1.5s;
   /*animation: slideAnim 80s cubic-bezier(0.7, 0.5, 0.1, 0.3) infinite;*/
}

/*.slides:hover {*/
/*   animation-play-state: paused;*/
/*}*/

/*@keyframes slideAnim {*/
/*   0% { transform:translate(0); }*/
/*   8% { transform:translate(0); }*/
/*   9% { transform: translate(-934px); }*/
/*   17% { transform: translate(-934px); }*/
/*   18% {  transform: translate(calc(-934px*2));}*/
/*   26% {  transform: translate(calc(-934px*2));}*/
/*   27% {  transform: translate(calc(-934px*3));}*/
/*   35% {  transform: translate(calc(-934px*3));}*/
/*   36% {  transform: translate(calc(-934px*4));}*/
/*   44% {  transform: translate(calc(-934px*4));}*/
/*   45% {  transform: translate(calc(-934px*5));}*/
/*   53% {  transform: translate(calc(-934px*5));}*/
/*   54% {  transform: translate(calc(-934px*6));}*/
/*   62% {  transform: translate(calc(-934px*6));}*/
/*   63% {  transform: translate(calc(-934px*7));}*/
/*   71% {  transform: translate(calc(-934px*7));}*/
/*   72% {  transform: translate(calc(-934px*8));}*/
/*   80% {  transform: translate(calc(-934px*8));}*/
/*   81% {  transform: translate(calc(-934px*9));}*/
/*   89% {  transform: translate(calc(-934px*9));}*/
/*   91% {  transform: translate(0);}*/
/*   100% {  transform: translate(0);}*/
/*}*/

.slides video {
   margin-left: 200px;
   width: 680px;
   height: 340px;
   float: left;
   cursor: pointer;
}

#btn1:checked~.slider-inner .slides {
   transform: translate(0);
}
#btn2:checked~.slider-inner .slides {
   transform: translate(-934px);
}
#btn3:checked~.slider-inner .slides {
   transform: translate(calc(-934px*2));
}
#btn4:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*3));
}
#btn5:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*4));
}
#btn6:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*5));
}
#btn7:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*6));
}
#btn8:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*7));
}
#btn9:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*8));
}
#btn10:checked ~ .slider-inner .slides {
   transform: translate(calc(-934px*9));
}

